* {
  box-sizing: border-box;
}
.home-body,
html {
  background: #232126 !important;
}
.container {
  max-width: 1800px;
  margin: 0 auto;
}
.intro {
  margin-top: 50px;
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.intro::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2321261f;
  z-index: -1;
  filter: blur(50px);
  border-radius: 3000px 3000px 3000px 3000px;
  opacity: 0.2;
  background-color: #e3c37a;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.intro .intro-content {
  padding: 100px 0 100px 50px;
  max-width: 1025px;
  position: relative;
  z-index: 100;
}
.intro video {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.intro .intro-breadcrumb {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Montserrat', Arial, sans-serif;
  line-height: 1.15;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.intro .intro-title {
  color: #e3c37a;
  font-size: 100px;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
}
.intro .intro-sub__title {
  color: #ffffff;
  font-size: 42px;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  line-height: 1.15;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.intro .order-btn {
  position: relative;
  z-index: 1;
  background-color: transparent;
  background-image: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  height: inherit;
  color: #232126;
  font-size: 14px;
  font-family: 'Montserrat', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  border-radius: 30px 30px 30px 30px;
  background-image: linear-gradient(
    0turn,
    rgba(137, 118, 74, 1) 0%,
    rgba(227, 195, 122, 1) 100%
  );
  border-color: transparent;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  width: fit-content;
  text-decoration: none;
  border: none;
  width: 292px;
  height: 61px;
}
.intro .intro-btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.intro .view-price {
  color: #e3c37a;
  font-size: 16px;
  font-family: 'Montserrat', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  text-decoration: none;
}

.intro .intro-desc {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Montserrat', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 488px;
  margin-top: 30px;
}
.intro .intro-image {
  height: 646px;
  opacity: 0;
  margin-left: auto;
  display: block;
  transition: opacity 0.5s ease;
  position: absolute;
  bottom: 0;
  right: 0;
}
.intro .intro-image.show {
  opacity: 1;
  z-index: 1;
}

.arrow-down__btn {
  margin: 20px auto 50px auto;
  background: transparent;
  padding: 0;
  border: none;
  display: block;
  animation: scaleAnimation 3.2s infinite linear;
}

.arrow-down__btn img {
  height: 20px;
}
@keyframes scaleAnimation {
  0% {
    transform: scale(1, 1);
    animation-timing-function: 0;
  }

  50% {
    transform: scale(0.7, 0.7);
    animation-timing-function: 0;
  }
  100% {
    transform: scale(1, 1);
  }
}

.choos-me {
}

.choos-me__title {
  color: #e3c37a;
  font-size: 60px;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.about-cards {
  display: flex;
  gap: 40px;
  align-items: stretch;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.about-cards .img-box {
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  right: 10px;
}

.about-cards .about-card {
  border-width: 0px;
  border-radius: 10px 10px 10px 10px;
  background-image: linear-gradient(
    0.5turn,
    rgba(35, 33, 38, 1) 0%,
    rgba(20, 19, 21, 1) 100%
  );
  border-color: transparent;
  border-style: dotted;
  padding: 4px;
  min-width: 370px;
}
.about-cards .about-card__content {
  border: 1px dotted #8a7952;
  border-radius: inherit;
  padding: 20px;
  position: relative;
  height: 100%;
}
.about-card__info {
  color: #656465;
  font-size: 15px;
  font-family: 'Montserrat', Arial, sans-serif;
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: 0;
}
.about-card__info strong {
  color: #fff;
}
.about-card .card-icon {
  width: 100%;
}

.road {
  margin: 50px 0 100px 0;
  position: relative;
  height: 100px; /* kerakli balandlik */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.road-line path {
  stroke: #e3c37a;
  stroke-width: 1;
  stroke-dasharray: 10 10; /* chiziq uzunligi va bo‘shliq */
  /* animation: dashmove 2s linear infinite; */
}
.road-lines {
  animation: sbs-833776089-1733050289937 35s infinite linear;
  backface-visibility: hidden;
  width: 100%;
}
@keyframes sbs-833776089-1733050289937 {
  0% {
    transform: translateX(0px) scale(1, 1);
    animation-timing-function: 0;
  }
  100% {
    transform: translateX(-2540px) scale(0.98, 0.98);
  }
}

/* @keyframes dashmove {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -20;
  }
} */
.road .road-img {
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.road .road-line {
  width: 100%;
}

.about-cards__track {
  display: flex;
  gap: 30px;
  width: max-content;
  animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.road {
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
}

.road-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 200%;
  height: 2px;
  background-image: repeating-linear-gradient(
    to right,
    #e3c37a 0 10px,
    transparent 10px 20px
  );
  transform: translateY(-50%);
  animation: scrollLine 0.4s linear infinite;
}

.road-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.fixed-chat {
  bottom: 50px;
  right: 65px;
  position: fixed;
  z-index: 100000;
}
.fixed-chat__btn {
  cursor: pointer;
  background: #e3c37a;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  animation: t898__btn-pulsate 2s ease-out infinite;
}
.fixed-chat__btn.active {
  background: #fff;
  animation: none;
}
.fixed-chat__btn.active .chat-icon {
  display: none;
}
.fixed-chat__btn.active .close-icon {
  display: block;
}
.fixed-chat__btn .close-icon {
  display: none;
}
.fixed-chat .social-media {
  flex-direction: column;
  display: flex;
  gap: 10px;
  justify-content: center;
  width: fit-content;
  margin: 0 auto 10px auto;
  opacity: 0;
  visibility: hidden;
}
.fixed-chat .social-media.show {
  opacity: 1;
  visibility: visible;
  transition: all 0.225s ease-in-out;
  transform: translate(0, -10%);
}
.fixed-chat .social-media svg {
  background: #fff;
  border-radius: 50%;
}
@keyframes t898__btn-pulsate {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.1, 1.1);
  }
  50% {
    transform: scale(1, 1);
  }
}

@keyframes scrollLine {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -20px 0;
  }
}

@media (max-width: 1850px) {
  .container {
    max-width: calc(100% - 40px);
  }
}
@media (max-width: 1350px) {
  .intro .intro-image {
    height: 500px;
  }
  .intro .intro-title {
    font-size: 70px;
  }
}

@media (max-width: 1350px) {
  .intro .intro-image {
    height: 400px;
  }
  .intro .intro-title {
    font-size: 50px;
  }
  .intro .intro-sub__title {
    font-size: 32px;
  }
  .intro .intro-content {
    padding: 70px 0 70px 40px;
  }
}
@media (max-width: 1024px) {
  .intro .intro-image {
    height: 300px;
  }
  .intro .intro-content {
    max-width: 700px;
    padding: 50px 0 50px 30px;
  }
  .intro .intro-btns {
    flex-direction: column;
    align-items: start;
  }
  .intro {
    border-radius: 20px;
  }
  .intro .intro-desc {
    width: 350px;
  }
  .intro .order-btn {
    height: 50px;
    width: 192px;
  }
  .intro .intro-sub__title {
    font-size: 25px;
  }
  .about-cards__track {
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: none;
    gap: 20px;
  }
  .about-cards .about-card {
    min-width: 100%;
    width: 100%;
  }
  .choos-me {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
  .choos-me .road {
    display: none;
  }
}
@media (max-width: 768px) {
  .intro .intro-content {
    padding: 50px 20px 290px 20px;
    width: 100%;
    text-align: center;
  }
  .choos-me__title {
    font-size: 30px;
  }
  .intro {
    flex-direction: column;
  }
  .intro .intro-btns {
    align-items: center;
  }
  .intro .intro-desc {
    width: 100%;
  }
  .intro .intro-image {
    /* left: 50%;
    transform: translateX(-50%); */
    height: 350px;
  }
  .fixed-chat {
    bottom: 20px;
    right: 20px;
  }
}
@media (max-width: 650px) {
  .about-cards__track {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 550px) {
  .intro {
    border-radius: 0;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-top: 0;
  }
  .intro .intro-breadcrumb {
    font-size: 14px;
    font-weight: normal;
  }
  .intro .intro-title {
    font-size: 45px;
  }
  .intro .intro-sub__title {
    font-size: 18px;
  }
  .intro .order-btn {
    height: 61px;
    width: 296px;
  }
  .intro .intro-image {
    width: 100%;
    height: auto;
  }
  .intro .intro-content {
    padding: 50px 20px 190px 20px;
  }
  .intro .intro-desc {
    font-size: 12px;
  }
}
